* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}
body{
    overflow: hidden;
}
.wrapper{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(244, 243, 240);
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    z-index: 111;
    line-height: 80px;
}
.logo{
    font-weight: 800;
    font-size: 40px;
    display: flex;
    color:#3d535f;
    cursor: pointer;
    letter-spacing: 3px;
    

}
b{
    font-size: 70px;
    color: #7f00ff;

}
.navItems{
    display: flex;
    
}
.navItems li{
    list-style: none;
    margin: 0 15px;
}
.navItems li a {
    font-size: 22px;
    letter-spacing: 3px;
    color: #3d535f;
    text-decoration: none;
}
.navItems li:hover a{
    color: #7f00ff;
    margin: 25px 10px;
}
.links a{
    margin: 25px 10px;
    font-size: 30px;
    color: #3d535f;

}
.links a:hover{
    color: #7f00ff;
}
.envelope{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0 10%;
}
.col0{
    width: 50%;
}
.topper{
    display: block;
    position:relative;
    font-size: 35px;
    letter-spacing: 5px;
    color: #3d535f;
}
.topper::after{
    position: absolute;
    content: "";
    height: 4px;
    width: 45px;
    bottom: 10px;
    background-color: #7f00ff;
}
h1{
    display: block;
    font-size: 5.5em;
    font-weight: 900;
    color: #3d535f;
}
.multitext{
    color:#7f00ff
}
p{
    display: block;
    width: 90%;
    font-size: 1.2em;
    color: #3d535f;
}
.buttons{
    width: 100%;
    position: relative;
    left: 130px;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
    font-size:25px;
    font-weight: 400;
    margin: 30px 5px;
    padding:  8px 14px;
    color: #fff;
    background-color: #3d535f;
    letter-spacing: 2px;
    box-shadow: 0 15px 10px rgba(0, 0, 0, 0.5) ;
}
button:hover{
    background-color: #7f00ff;
}
.imageBox{
    position: relative;
    height: 100%;
    width: 100%;
}
#pic{
    transform: rotateY(180deg);
}
.imageBox img{
    position: relative;
    height: 100%;
    width: calc(100% - 80px);
}
#id{
    transform: rotateZ(180deg);
}